{% extends 'base.html.twig' %}

{% block body %}
    <h1>Marques</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Date de création</th>
                <th>Date de modification</th>
                <th>État</th> <!-- Nouvelle colonne pour l'état -->
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for marque in marques %}
                <tr>
                    <td>{{ marque.name }}</td>
                    <td>{{ marque.description }}</td>
                    <td>{{ marque.createdAt|date('Y-m-d H:i:s') }}</td>
                    <td>{{ marque.updatedAt|date('Y-m-d H:i:s') }}</td>
                    <td>{{ marque.state }}</td> <!-- Affichage de l'état -->
                    <td>
                        <a href="{{ path('admin_marque_edit', {'id': marque.id}) }}" class="btn btn-primary">Modifier</a>
                        <form method="post" action="{{ path('admin_marque_delete', {'id': marque.id}) }}" style="display:inline-block;" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ marque.id) }}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_marque_new') }}" class="btn btn-success">Créer une nouvelle marque</a>
{% endblock %}
